/*

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore

# track readme.md in the root (i.e. do NOT ignore it)
!readme.md

!wp-content/plugins/site-instructions

!wp-content/themes/one-confluence
